@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: 'Lato', sans-serif;
  }
}

.form {
  display: grid;
  grid-template-columns: 1fr auto;
  max-width: 600px;
  background: #FFFFFF;
  border-radius: 0.25rem;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.2);
  padding: 2rem 2.5rem;
  margin: 3rem auto;
}

@media screen and (min-width: 576px) {
  .photos {
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  }
}

.loader {
  width: 6rem;
  height: 6rem;
  margin: 0 auto;
  margin-top: 4rem;
  border-radius: 50%;
  border: 3px solid #ccc;
  border-top-color: #f7f7f7;
  animation: loader 0.6s linear infinite;
}

@keyframes loader {
  to {
    transform: rotate(360deg);
  }
}
